* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: inline-block;
  width: 400px;
  height: 200px;
  background-color: orange;
  box-sizing: border-box;
  padding: 50px;
}

.box {
}

.item {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: red;
}
