.box {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.box::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 2px;
  background: deeppink;
  transition: width 0.5s;
}

.box:hover::before {
  left: 0;
  width: 100px;
}
