.content {
    position: relative;
    width: 100%;
    text-align: justify;
    line-height: 0;
}

.content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#fff 48%, #ccc 48%, #ccc 52%, #fff 52%);
    z-index: -1;
}

/**
text-align: justify; 必须是文字存在第二行的时候才会生效，所以要用伪元素after来占位
*/
.content::after {
    display: inline-block;
    content: '';
    width: 100%;
}


span {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #aaa;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.content1 {
    display: flex;
    justify-content: space-between;
}