/**
1.overflow: hidden; 会把阴影干掉
2.背景色要设置的一致
*/

.g-container {
    position: relative;
    width: 300px;
    height: 100px;
}

.g-content {
    height: 100px;
    filter: contrast(20);
    background-color: #fff;
    overflow: hidden;
}

.g-filter {
    height: 100px;
    background: radial-gradient(circle at 50% -10px, transparent 0, transparent 39px, #000 40px, #000);
    filter: blur(10px);
}



.yuanhu {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    filter: contrast(20);
    overflow: hidden;
}

.yuanhu::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 20px solid transparent;
    border-bottom: 20px solid #000;
    filter: blur(10px);
}