/**
1.overflow: hidden; 会把阴影干掉
2.背景色要设置的一致
*/

.g-container {
    position: relative;
    width: 300px;
    height: 100px;
}

.g-content {
    height: 100px;
    filter: contrast(0);
    background-color: #fff;
    overflow: hidden;
}

.g-filter {
    height: 100px;
    background: radial-gradient(circle at 50% -10px, transparent 0, transparent 39px, #000 40px, #000);
    filter: blur(10px);
}