.left-line {
    width: 200px;
    height: 50px;
    background-color: #eee;
}

.left-line::before {
    display: inline-block;
    content: '';
    height: 100%;
    width: 5px;
    background-color: orange;
}

.left-line1 {
    box-sizing: border-box;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #eee;
    border-left: 5px solid orange;
}

.left-line2 {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(90deg, orange 3%, #eee 3%);
}

.left-line3 {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #eee;
    /* box-shadow: inset 5px 0 0px 0px orange; */
    margin-left: 5px;
    filter: drop-shadow(-5px 0 0 orange)
}

.left-line4 {
    position: relative;
    margin-left: 5px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #eee;
    outline: 5px solid orange;
}

.left-line4::before {
    position: absolute;
    display: inline-block;
    background-color: #eee;
    content: '';
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: 0px;
}

.left-line5 {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    overflow-y: scroll;
    background-color: orange;
}

div::-webkit-scrollbar {
    width: 195px;
    background-color: #eee;
}

.left-line6 {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #eee;
}

.left-line6::before {
    position: absolute;
    content: "____";
    font-size: 50px;
    bottom: 0;
    text-decoration: underline;
    color: orange;
    transform: rotate(90deg);
    left: -25px;
}