html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}

body div {
    height: 300px;
    background: url('../public/1.webp') no-repeat;
    background-size: 200px 200px;
}
